.wrapper {
  display: flex;
  justify-content: center;
}
.pizza_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  //justify-self: center;
}

.image {
  align-self: center;
  max-width: 260px;
  max-height: 260px;
}

.title {
  align-self: center;
  text-align: center;
  margin-top: 11px;
  font-size: 20px;
  font-weight: 800;
}

.settings {
  margin-top: 22px;
  background-color: #f3f3f3;
  border-radius: 10px;
  .types,
  .sizes {
    display: flex;
    justify-content: space-evenly;
    margin: 7px 6px;

    li {
      flex-basis: 0;
      flex-grow: 1;
      //align-items: center;
      border-radius: 10px;
      padding: 10px 18px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      p {
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.active {
  background-color: #fff;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 22px;
  font-weight: 700;
}

.button {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  min-width: 132px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #eb5a1e;
  color: #eb5a1e;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    fill: #eb5a1e;
  }
  span {
    color: #fff;
    background-color: #eb5a1e;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 50%;
  }
  &:hover {
    color: #fff;
    background-color: #eb5a1e;
    svg {
      fill: #fff;
    }
    span {
      background-color: #fff;
      color: #eb5a1e;
    }
  }
}
