.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0px 67px;
  @media (max-width: 1080px) {
    flex-direction: column;
  }
  @media (max-width: 720px) {
    flex-direction: column;
    .categories {
      width: 100%;
      overflow: scroll;
    }
  }
}
